

				<tbody>
					<tr class="bg-gray-800">
						<td class="p-3">
							<div class="flex align-items-center">
								<div class="ml-3">
									<div class=""><%= food.name%></div>
								</div>
							</div>
						</td>
						<td class="p-3">
							<%= food.quantity %>
						</td>
						<td class="p-3 font-bold">
							<%= food.measurement %>
						</td>
						<td class="p-3">
							<span class="bg-green-400 text-gray-50 rounded-md px-2">$ <%= food.price %></span>
						</td>
						<td class="p-3 ">
							<a href="#" class="text-gray-400 hover:text-gray-100 mr-2">
								<i class="material-icons-outlined text-base">visibility</i>
							</a>
							<a href="#" class="text-gray-400 hover:text-gray-100  mx-2">
								<i class="material-icons-outlined text-base">edit</i>
							</a>
							<a href="#" class="text-gray-400 hover:text-gray-100  ml-2">
								<i class="material-icons-round text-base">delete_outline</i>
							</a>
						</td>
					</tr>
				</tbody>
			