<%# <!-- component -->
<link
	href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
	rel="stylesheet">
<div class="flex justify-center min-h-screen bg-gray-900">
	<div class="col-span-12">
		<div class="overflow-auto lg:overflow-visible ">
         <div class="text-right mb-8"><%= link_to "Add Food", new_food_path, class: "py-2 px-4 rounded-lg bg-green-300 hover:bg-green-200 hover:shadow-xl" %></div>
			<table class="table text-white border-separate space-y-6 text-sm">
				<thead class="bg-gray-800 text-white">
					<tr>
						<th class="p-3">Food</th>
						<th class="p-3 text-left">Quantity</th>
						<th class="p-3 text-left">Measurement</th>
						<th class="p-3 text-left">Unit Price</th>
						<th class="p-3 text-left">Action</th>
					</tr>
				</thead>
        <% @foods.each do |food|%>
        <%= render 'food', food: food %>
        <% end %>
        </table>
                </div>
	</div>
</div>
<style>
	.table {
		border-spacing: 0 15px;
	}

	i {
		font-size: 1rem !important;
	}

	.table tr {
		border-radius: 20px;
	}

	tr td:nth-child(n+5),
	tr th:nth-child(n+5) {
		border-radius: 0 .625rem .625rem 0;
	}

	tr td:nth-child(1),
	tr th:nth-child(1) {
		border-radius: .625rem 0 0 .625rem;
	}
</style> %>