
<!-- component -->
<div class="min-h-screen bg-gray-900 py-6 flex flex-col justify-center sm:py-12">
	<div class="relative py-3 sm:max-w-xl sm:mx-auto">
		<div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
			<div class="max-w-md mx-auto">
				<div>
					<h1 class="text-2xl font-semibold text-center">Add Your Food</h1>
                     <% if @food.errors.any? %>
                            <ul>
                            <% @food.errors.full_messages.each do |msg|%>
                            <li><%= msg %></li>
                            <% end %>
                            </ul>
                    <% end %>
   
				</div>
				<%= render 'form' %>
            </div>
        </div>
    </div>
</div>